.fs-s {
  font-size: 1.5em;
}

.fs-m {
  font-size: 2em;
}

.fs-l {
  font-size: 2.5em;
}

.fs-xl {
  font-size: 3em;
}

:root {
  /* COLORES */
  --clr-grn-dark:#0C4222;
  --clr-grn-light:#1D9950;
  --clr-n-grn: #81AC80;
  --clr-blk: #1D1D1D;
  --clr-grey: #313834;
  --clr-grey-light: #515854;
  --clr-white: #E2E2E2;
  --clr-n-light: #D8DBC9;
  --clr-n-olive: #D6D7CB;
  --clr-n-brown: #A29483;
  /* HOVER */
  --clr-hover: #8d4b37;
  /* TIPOGRAFIA */
  font-family: "Darker grotesque", sans-serif;
  font-weight: 600;
  font-size: 12px;
  /* LISTAS */
  list-style-type: none;
  /* BORDES */
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-n-light);
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", sans-serif;
  list-style: none;
  font-weight: 500;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  color: var(--clr-grn-dark);
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  color: var(--clr-grn-light);
  text-align: center;
}

main {
  background-color: var(--clr-n-light);
  width: 100%;
}

.contacto-btn {
  cursor: pointer;
  background-color: #0C4222;
  color: #E2E2E2;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 1.3em;
  padding: 1em 2em;
  transition: background-color 0.3s ease;
}
.contacto-btn:hover {
  background-color: #1D9950;
}

.contacto-enviar-btn {
  cursor: pointer;
  background-color: #0C4222;
  color: #E2E2E2;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1em;
  font-weight: 500;
  border-radius: 1.3em;
  padding: 1em 2em;
  transition: background-color 0.3s ease;
}
.contacto-enviar-btn:hover {
  background-color: #1D9950;
}

#topnav {
  background-color: #D8DBC9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.3em;
  margin-bottom: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8pt;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  font-size: 1.5em;
}
.nav-item a {
  text-decoration: none;
  color: #0C4222;
  padding: 0.8em;
  transition: color 0.3s ease;
}
.nav-item a:hover {
  color: #8d4b37;
}

.menu-toggle {
  display: none;
}

.footer {
  width: 100%;
  margin: 0 auto;
}

.footer-items-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5.3em 1.3em;
}

.heading-footer {
  font-family: "DM Serif Display", serif;
  font-size: 2em;
  color: #0C4222;
  text-align: left;
}

.footer-list {
  list-style-type: none;
}

.footer-list-social {
  display: flex;
}
.footer-list-social li {
  padding-right: 1.3em;
}

.footer-email {
  color: #0C4222;
  font-size: 1.5em;
}

.footer-logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#hero-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.hero-text-container {
  padding-left: 3em;
}
.hero-text-container h1 {
  margin-bottom: 0;
}
.hero-text-container p {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 1.5em;
}

.hero-img-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0%;
  flex: 1;
}
.hero-img-container img {
  max-width: 70%;
  height: auto;
  margin-right: 0;
}

.quien-soy-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.quien-soy-section h1 {
  font-family: "DM Serif Display", serif;
  color: #0C4222;
  text-align: center;
}

.quien-soy-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: 3em;
}

.quien-soy-text {
  flex: 1;
  width: 80%;
}
.quien-soy-text p {
  font-family: "Darker Grotesque", sans-serif;
  color: #0C4222;
  margin: 2em;
}

.quien-soy-img-container {
  text-align: center;
  width: 50%;
}
.quien-soy-img-container img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
}

.servicios-container {
  margin: 0 auto;
  height: 100%;
  max-width: 70%;
  background-color: #D8DBC9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicios-page-container {
  margin: 6em 5em;
  height: 100vh;
  max-width: 70%;
  background-color: #D8DBC9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicios-heading {
  font-size: 2em;
  color: #0C4222;
  margin-bottom: 5em;
  text-align: center;
}

.servicios-items {
  padding: 1.3em 2.6em;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-gap: 10px;
  width: 100%;
}

.serv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.serv img {
  width: 50%;
  margin-bottom: 0;
}
.serv a {
  font-size: 2em;
  color: #0C4222;
  margin-top: 0;
}
.serv a:hover {
  color: #8d4b37;
  transition: color 0.4s ease;
}

.servicios-reiki {
  grid-column: 1;
  grid-row: 1;
}

.servicios-regi {
  grid-column: 3;
  grid-row: 1;
}
.servicios-regi a {
  line-height: 100%;
}

.servicios-bio {
  grid-column: 5;
  grid-row: 1;
}

.servicios-resp {
  grid-column: 2;
  grid-row: 2;
  line-height: 170%;
}

.servicios-medi {
  grid-column: 4;
  grid-row: 2;
  line-height: 170%;
}

#testimonios-section {
  display: grid;
  background-color: #A29483;
  margin-top: 4em;
  height: 100vh;
}

.testimonios {
  background-color: #A29483;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonios img {
  margin-top: 32px;
  width: 5%;
  justify-content: center;
}

.testimonios-heading {
  font-size: 2em;
  color: #D6D7CB;
  margin-top: 5.3em;
}

.testimonios-paragraph {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
  text-align: center;
  color: #D8DBC9;
  max-width: 70%;
  margin: 0 auto;
}

.testimonios-nombre {
  font-family: "Darker Grotesque", sans-serif;
  color: #D6D7CB;
  font-size: 2em;
  text-align: center;
}

.btn-testimonios-container {
  right: 20px;
  position: absolute;
}

.btn-testimonios {
  cursor: pointer;
  background: none;
  border: none;
  padding: 1.3em;
}

.btn-testimonios img {
  height: 2em;
  width: 2em;
}

.separator {
  height: 4.6em;
  width: 100%;
  background-image: url(../assets/natura3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-heading {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  color: #0C4222;
  margin-bottom: 2em;
}

.blog-container {
  margin: 0 2em;
}

.blog-entry {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-entry.rectangular img {
  height: 100%;
}

.blog-entry.square img {
  height: 50%;
}

.blog-card {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.blog-card-title {
  font-family: "DM Serif Display", serif;
  color: #1D1D1D;
  text-align: center;
}

.blog-card-text {
  font-family: "Darker Grotesque", sans-serif;
  color: #313834;
  text-align: center;
}

.blog-card .blog-leer-mas {
  font-family: "Darker Grotesque", sans-serif;
  color: #8d4b37;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.contacto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #81AC80;
  padding: 5.3em 2.6em;
  height: 100%;
}
.contacto-container img {
  width: 70%;
  height: auto;
}

.contacto-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacto-heading {
  font-family: "DM Serif Display", serif;
  color: #0C4222;
}

.contacto-form {
  font-size: 1.5em;
  color: #0C4222;
  padding: 0.6em 0;
}

.input-transparent {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  height: 3em;
}
.input-transparent:focus {
  border-color: transparent;
  box-shadow: 0 0 16px #0C4222;
}

.textarea {
  height: 10em;
}

.contacto-btn-container {
  display: flex;
  justify-content: flex-end;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #D8DBC9;
    padding: 1.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .nav-item {
    margin-bottom: 0.6em;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    background-color: #0C4222;
    color: #E2E2E2;
    border-radius: 1.3em;
    padding: 1em 2em;
  }
  .blog-title {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #0C4222;
  }
  .blog-card-title {
    font-family: "DM Serif Display", serif;
    color: #1D1D1D;
    text-align: center;
    font-size: 1.5em;
  }
  .blog-card-text {
    font-family: "Darker Grotesque", sans-serif;
    color: #313834;
    text-align: center;
    font-size: 1em;
  }
  .blog-card .blog-leer-mas {
    font-family: "Darker Grotesque", sans-serif;
    color: #8d4b37;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .footer {
    width: 100%;
  }
  .footer-items-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5.3em 1.3em;
  }
  .heading-footer {
    font-family: "DM Serif Display", serif;
    font-size: 1em;
    color: #0C4222;
    text-align: left;
  }
  .footer-list {
    list-style-type: none;
    height: 0;
    width: 0;
  }
  .footer-list-social {
    display: flex;
    flex-direction: column;
  }
  .footer-list-social li {
    padding-right: 1.3em;
  }
  .footer-email {
    color: #0C4222;
    font-size: 1.5em;
  }
  .footer-logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #D8DBC9;
    padding: 1.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .nav-item {
    margin-bottom: 0.6em;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    background-color: #0C4222;
    color: #E2E2E2;
    border-radius: 1.3em;
    padding: 1em 2em;
  }
  #hero-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3em;
  }
  .hero-text-container {
    padding-left: 3em;
  }
  .hero-text-container h1 {
    margin-bottom: 0;
    font-size: 2em;
  }
  .hero-text-container p {
    margin-top: 0;
    margin-bottom: 3em;
    font-size: 1.5em;
  }
  .hero-img-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 0%;
    flex: 1;
  }
  .hero-img-container img {
    max-width: 100%;
    height: auto;
    margin-right: 0;
  }
  .conocer-btn-container {
    text-align: center;
  }
  .contacto-btn {
    background-color: #0C4222;
    color: #E2E2E2;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1.5em;
    padding: 0.7em 6em;
    transition: background-color 0.3s ease;
  }
  .contacto-btn:focus {
    background-color: #1D9950;
  }
  #testimonios-section {
    display: grid;
    background-color: #A29483;
    margin-top: 3em;
  }
  .testimonios {
    background-color: #A29483;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .testimonios img {
    margin-top: 2.3em;
    width: 10%;
    justify-content: center;
  }
  .testimonios-heading {
    font-size: 1.5em;
    color: #D6D7CB;
    margin: 2em 0;
  }
  .testimonios-paragraph {
    font-family: "DM Serif Display", serif;
    font-size: 2em;
    text-align: center;
    color: #D8DBC9;
    max-width: 80%;
    line-height: 90%;
  }
  .testimonios-nombre {
    font-family: "Darker Grotesque", sans-serif;
    color: #D6D7CB;
    font-size: 1em;
    text-align: center;
  }
  .btn-testimonios-container {
    right: 1.6em;
    position: absolute;
  }
  .btn-testimonios {
    background: none;
    border: none;
    padding: 1.3em;
  }
  .btn-testimonios img {
    width: 2em;
    height: 2em;
  }
  .servicios-container {
    margin: 1.5em auto;
    height: auto;
    max-width: 95%;
    background-color: #D8DBC9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .servicios-items {
    padding: 1.3em 2.6em;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 1.5em;
    width: auto;
  }
  .servicios-heading {
    font-size: 1.8em;
    color: #0C4222;
    margin: 2em auto;
    text-align: center;
  }
  .servicios-reiki .servicios-bio .servicios-regi .servicios-medi .servicios-resp a {
    font-size: 1em;
    line-height: 90%;
    margin-top: 0;
  }
  .servicios-reiki a:focus {
    color: #8d4b37;
  }
  .quien-soy-section h1 {
    font-size: 2em;
  }
  .quien-soy-container {
    margin: 1em;
  }
  .quien-soy-text {
    flex: 1;
    width: 90%;
  }
  .quien-soy-text p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.5em;
    color: #0C4222;
    margin: 1em, 0;
  }
  .footer {
    width: 100%;
  }
  .footer-items-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-items-container .footer-btn {
    order: 1;
    align-self: flex-start;
    margin-top: 1rem;
  }
  .heading-footer {
    font-family: "DM Serif Display", serif;
    font-size: 1em;
    color: #0C4222;
    text-align: left;
  }
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .footer-list-social {
    display: flex;
    flex-direction: column;
  }
  .footer-list-social li {
    padding-right: 1.3em;
  }
  .footer-email {
    color: #0C4222;
    font-size: 1.5em;
  }
  .footer-logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .footer-btn {
    padding: 1em;
    font-size: 1em;
    line-height: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
