//Tablets
@media screen and (max-width: 768px) {
    //Nav Bar
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--clr-n-light);
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item {
        margin-bottom: 8px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: var(--clr-grn-dark);
        color: var(--clr-white);
        border-radius: 16px;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    //Blog
    .blog-title {
        font-family: $text-font;
        font-weight: 700;
        font-size: 2em;
        color: $green-dark
    }
    .blog-card-title {
        font-family: $title-font;
        color: $black;
        text-align: center;
        font-size: 1.5em;
    }
    .blog-card-text {
        font-family: $text-font;
        color: $grey;
        text-align: center;
        font-size: 1em;
    }
    .blog-card .blog-leer-mas {
        font-family: $text-font;
        color: $color-hover;
        text-align: center;
        display: block; 
        margin: 0 auto;
    }
    //Footer
    .footer {
        width: 100%;
    }
    .footer-items-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 64px 16px;
    }
    .heading-footer {
        font-family: 'DM Serif Display', serif;
        font-size: 1em;
        color: var(--clr-grn-dark);
        text-align: left;
    }
    .footer-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .footer-list-social {
        display: flex;
        flex-direction: column;
    }
    .footer-list-social li {
        padding-right: 16px;
    }
    .footer-email {
        color: var(--clr-grn-dark);
        font-size: 1.5em;
    }
    .footer-logo-container {
        flex-grow: 1; 
        display: flex;
        justify-content: center;
    }
}
//Telefono
@media screen and (max-width: 480px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--clr-n-light);
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item {
        margin-bottom: 8px;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: var(--clr-grn-dark);
        color: var(--clr-white);
        border-radius: 16px;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #hero-section {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
    .hero-text-container {
        padding-left: 3em;
    }
    .hero-text-container h1 {
        margin-bottom: 0;
        font-size: 2em;
    }
    .hero-text-container p {
        margin-top: 0;
        margin-bottom: 36px;
        font-size: 1.5em;
    }
    .hero-img-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 0%;
        flex: 1;
    }
    .hero-img-container img {
        max-width: 100%;
        height: auto;
        margin-right: 0;
    }
    .conocer-btn-container {
        text-align: center;
    }
    .contacto-btn {
        background-color: var(--clr-grn-dark);
        color: var(--clr-white);
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1em;
        font-weight: 500;
        border-radius: 1.5em;
        padding-right: 6em;
        padding-left: 6em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        transition: background-color 0.3s ease;
    }
    .contacto-btn:focus {
        background-color: var(--clr-grn-light);
    }
    #testimonios-section {
        display: grid;
        background-color: var(--clr-n-brown);
        margin-top: 3em;
    }
    .testimonios {
        background-color: var(--clr-n-brown);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .testimonios-heading {
        font-size: 1.5em;
        color: var(--clr-n-olive);
        margin: 2em 0;
    }
    .testimonios-paragraph {
        font-family: 'DM Serif Display', serif;
        font-size: 2em;
        text-align: center;
        color: var(--clr-n-light);
        max-width: 80%;
        line-height: 90%;
    }
    .testimonios-nombre {
        font-family: 'Darker Grotesque', sans-serif;
        color: var(--clr-n-olive);
        font-size: 1em;
        text-align: center;
    }
    .testimonios img {
        margin-top: 2.3em;
        width: 10%;
        justify-content: center;
    }
    .btn-testimonios-container {
        right: 20px;
        position: absolute;
    }
    .btn-testimonios {
        cursor: pointer;
        background: none;
        border: none;
        padding: 16px;
    }
    .btn-testimonios img {
        width: 24px;
        height: 24px;
    }
    .servicios-container {
        margin: 1.5em auto;
        height: auto;
        max-width: 95%;
        background-color: var(--clr-n-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .servicios-items {
        padding: 16px 32px;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        gap: 1.5em;
        width: auto;
    }
    .servicios-heading {
        font-size: 1.8em;
        color: var(--clr-grn-dark);
        margin: 2em auto;
        text-align: center;
    }
    .servicios-reiki .servicios-bio .servicios-regi
    .servicios-medi .servicios-resp a {
        font-size: 1em;
        line-height: 90%;
        margin-top: 0;
    }
    .servicios-reiki a:focus {
        color: var(--clr-hover);
    }
    .quien-soy-section h1 {
        font-size: 2em;
    }
    .quien-soy-container {
        margin: 1em;
    }
    .quien-soy-text {
        flex: 1;
        width: 90%;
    }
    .quien-soy-text p {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.5em;
        color: var(--clr-grn-dark);
        margin: 1em, 0;
    }
    .footer {
        width: 100%;
    }
    .footer-items-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-items-container .footer-btn {
        order: 1;
        align-self: flex-start;
        margin-top: 1rem;
    }
    .heading-footer {
        font-family: 'DM Serif Display', serif;
        font-size: 1em;
        color: var(--clr-grn-dark);
        text-align: left;
    }
    .footer-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .footer-list-social {
        display: flex;
        flex-direction: column;
    }
    .footer-list-social li {
        padding-right: 16px;
    }
    .footer-email {
        color: var(--clr-grn-dark);
        font-size: 1.5em;
    }
    .footer-logo-container {
        flex-grow: 1; 
        display: flex;
        justify-content: center;
    }
    .footer-btn {
        padding: 1em;
        font-size: 1em;
        line-height: 90%;
    }
}