//Tablets
@media screen and (max-width: 768px) {
    //Nav Bar
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $olive;
        padding: 1.3em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item {
        margin-bottom: 0.6em;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: $green-dark;
        color: $white;
        border-radius: 1.3em;
        padding: 1em 2em;
    }
    //Servicios Section Index
    .servicios-index-heading {
        font-size: 2em;
        color: $green-dark;
        margin: 0 auto;
        text-align: center;
    }
    .servicios-container {
        margin: 0 auto;
        height: 100%;
        max-width: 70%;
        background-color: $olive;
        @include flex-align-justify-center;
        flex-direction: column;
    }
    //Servicios Section Page
    .servicios-h2 {
        margin: 1em 0;
    }
    .servicios-page-items {
        padding: 1.3em 2.6em;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        grid-gap: 10px;
        width: 100%;
    }
    //Contacto Section Index
    .contacto-container {
        @include flex-align-justify-center;
        flex-direction: row;
        background-color: $green-neutral;
        padding: 5.3em 2.6em;
        height: auto;
        img {
            width: 70%;
            height: auto;
            margin-bottom: 2em;
        }
    }
    .contacto-heading {
        text-align: center;
    }
    .contacto-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contacto-form {
        width: 100%;
    }
    .contacto-enviar-btn {
        width: 100%;
    }
    //Blog
    .blog-title {
        font-family: $text-font;
        font-weight: 700;
        font-size: 2em;
        color: $green-dark;
    }
    .blog-card-title {
        font-family: $title-font;
        color: $black;
        text-align: center;
        font-size: 1.5em;
    }
    .blog-card-text {
        font-family: $text-font;
        color: $grey;
        text-align: center;
        font-size: 1em;
    }
    .blog-card .blog-leer-mas {
        font-family: $text-font;
        color: $color-hover;
        text-align: center;
        display: block; 
        margin: 0 auto;
    }
    //Footer
    .footer {
        width: 100%;
        margin: 0 auto;
    }
    .footer-items-container {
        @include flex-align-center;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 1.3em;
    }
    .heading-footer {
        font-family: $title-font;
        font-size: 1.3em;
        color: $green-dark;
        text-align: left;
        width: fit-content;
    }
    .footer-list {
        list-style-type: none;
        @include sizes (0, 0);
        margin-bottom: 2em;
    }
    .footer-list-social {
        display: flex;
        li {
            padding-right: 1.3em;
        }
    }
    .footer-email {
        color: $green-dark;
        font-size: 1.5em;
    }
    .footer-logo-container {
        display: none;
    }
}
//Telefono
@media screen and (max-width: 480px) {
    //Nav Bar
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $olive;
        padding: 1.3em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .nav-item {
        margin-bottom: 0.6em;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        background-color: $green-dark;
        color: $white;
        border-radius: 1.3em;
        padding: 1em 2em;
    }
    //Hero
    #hero-section {
        @include flex-align-center;
        width: 100%;
        height: auto;
        margin-top: 3em;
    }
    .hero-text-container {
        padding-left: 3em;
        h1 {
            margin-bottom: 0;
            font-size: 2em;
        }
        p {
            margin-top: 0;
            margin-bottom: 3em;
            font-size: 1.5em;
        }
    }
    .hero-img-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 0%;
        flex: 1;
        img {
            max-width: 100%;
            height: auto;
            margin-right: 0;
        }
    }
    .conocer-btn-container {
        text-align: center;
    }
    .contacto-btn {
        background-color: $green-dark;
        color: $white;
        font-family: $text-font;
        font-size: 1em;
        font-weight: 500;
        border-radius: 1.5em;
        padding: 0.7em 6em;
        transition: background-color 0.3s ease;
        &:focus {
            background-color: $green-light;
        }
    }
    //Testimonios
    #testimonios-section {
        display: grid;
        background-color: $brown;
        margin-top: 3em;
    }
    .testimonios {
        background-color: $brown;
        @include flex-align-justify-center;
        flex-direction: column;
        img {
            margin-top: 2.3em;
            width: 10%;
            justify-content: center;
        }
    }
    .testimonios-heading {
        font-size: 1.5em;
        color: $olive-neutral;
        margin: 2em 0;
    }
    .testimonios-paragraph {
        font-family: $title-font;
        font-size: 2em;
        text-align: center;
        color: $olive;
        max-width: 80%;
        line-height: 90%;
    }
    .testimonios-nombre {
        font-family: $text-font;
        color: $olive-neutral;
        font-size: 1em;
        text-align: center;
    }
    //Servicios Section Index
    .servicios-container {
        margin: 1.5em auto;
        height: auto;
        max-width: 95%;
        background-color: $olive;
        @include flex-align-justify-center;
        flex-direction: column;
    }
    .servicios-items {
        padding: 1.3em 2.6em;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .serv {
        width: 50%;
        margin: 0 auto;
    }
    .servicios-heading {
        font-size: 1.8em;
        color: $green-dark;
        margin: 2em auto;
        text-align: center;
    }
    .servicios-reiki .servicios-bio .servicios-regi
    .servicios-medi .servicios-resp a {
        font-size: 1em;
        line-height: 90%;
        margin-top: 0;
    }
    .servicios-reiki a:focus {
        color: $color-hover;
    }
    //Servicios Section Page
    .servicios-h2 {
        margin: 1em 0;
    }
    .servicios-page-items {
        padding: 1.3em 2.6em;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .serv {
        width: 50%;
        margin: 0 auto;
    }
    .servicios-description-container {
        padding: 0 1.3em;
        margin: 0 auto;
        box-sizing: border-box;
        p {
            font-size: 1.5em;
        }
        img {
            width: 100%;
        }
    }
    //Blog Page
    .blog-heading{
        font-size: 2em;
        text-align: center;
        font-family: $title-font;
        font-weight: 700;
        color: $green-dark;
        margin-bottom: 2em;
    }
    .blog-card-text {
        font-size: 1.3em;
    }
    //Quien Soy Page
    .quien-soy-section h1 {
        font-size: 2em;
    }
    .quien-soy-container {
        margin: 1em;
    }
    .quien-soy-text {
        flex: 1;
        width: 90%;
        p {
            font-family: $text-font;
            font-size: 1.5em;
            color: $green-dark;
            margin: 1em, 0;
        }
    } 
    //Contacto Agendar Page
    .contacto-page {
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .contacto-form-img-container {
        order: 1;
        margin-bottom: 1em;
    }
    .contacto-form-container {
        order: 2;
        margin: 0 auto;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box;   
    }
    .contacto-form {
        width: 100%;
        box-sizing: border-box;   
    }
    //Footer
    .footer {
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .footer-items-container {
        @include flex-align-center;
        flex-direction: row;
        justify-content: baseline;
        margin: 0 auto;
        padding: 1em;
    }
    .heading-footer {
        font-family: $title-font;
        font-size: 1.3em;
        color: $green-dark;
        text-align: left;
        width: fit-content;
    }
    .footer-list {
        list-style-type: none;
        @include sizes (0, 0);
        margin-bottom: 2em;
    }
    .footer-list-social {
        display: flex;
        li {
            padding-right: 1.3em;
        }
    }
    .footer-email {
        color: $green-dark;
        font-size: 1.5em;
    }
    .footer-logo-container, .footer-btn {
        display: none;
    }
}