// Tamaños
@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}
//Espacios
@mixin spaces ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}
//Flex
@mixin flex-align-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}