//Tipografía
$title-font: 'DM Serif Display', serif;
$text-font: 'Darker Grotesque' sans-serif;

//Colores
$green-light: #1D9950;
$green-dark: #0C4222;
$olive: #D8DBC9;
$black: #1D1D1D;
$color-hover: #8d4b37;

//Maps
$font-sizes: (
    s: 1.5em,
    m: 2em,
    l: 2.5em,
    xl: 3em,
);
// text number
@each $text, $number in $font-sizes {
    .fs-#{$text}{
        font-size: $number;
    }
}