.blog-heading{
    text-align: center;
}
.blog-title {
    font-family: $text-font;
    font-weight: 700;
    font-size: 28px;
    color: $green-dark
}
.blog-entry {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.blog-entry.rectangular img {
    height: 100%;
}
.blog-entry.square img {
    height: 50%;
}
.blog-card-title {
    font-family: $title-font;
    color: $black;
    text-align: center;
}
.blog-card-text {
    font-family: $text-font;
    color: $grey;
    text-align: center;
}
.card-body {
    justify-content: center;
    align-items: center;
}
.card-body a{
    font-family: $text-font;
    color: $color-hover;
    text-align: center;
}