.blog-heading{
    text-align: center;
    font-family: $title-font;
    font-weight: 700;
    color: $green-dark;
    margin-bottom: 2em;
}
.blog-container {
    margin: 0 2em;
}
.blog-entry {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.blog-entry.rectangular img {
    height: 100%;
}
.blog-entry.square img {
    height: 50%;
}
.blog-card {
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.blog-card-title {
    font-family: $title-font;
    color: $black;
    text-align: center;
}
.blog-card-text {
    font-family: $text-font;
    color: $grey;
    text-align: center;
}
.blog-card .blog-leer-mas {
    font-family: $text-font;
    color: $color-hover;
    text-align: center;
    display: block; 
    margin: 0 auto;
}