.contacto-btn {
    cursor: pointer;
    background-color: $green-dark;
    color: $white;
    font-family: $text-font;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 1.3em;
    padding: 1em 2em;
    transition: background-color 0.3s ease;
    a {
        color: $white;
    }
    &:hover {
        background-color: $green-light;
    }
}
.contacto-enviar-btn {
    cursor: pointer;
    background-color: $green-dark;
    color: $white;
    font-family: $text-font;
    font-size: 1em;
    font-weight: 500;
    border-radius: 1.3em;
    padding: 1em 2em;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $green-light;
    }
}
