#topnav {
    background-color: $olive;
    @include flex-align-center;
    justify-content: space-between;
    padding: 0 1.3em;
    margin-bottom: 0;
}
.logo-container {
    @include flex-align-center;
}
.nav-list {
    @include flex-align-center;
    justify-content: flex-end;
    gap: 8pt;
    list-style: none;
    @include spaces(0, 0);
}
.nav-item {
    font-size: 1.5em;
    a {
        text-decoration: none;
        color: $green-dark;
        padding: 0.8em;
        transition: color 0.3s ease;
        &:hover {
            color: $color-hover;
        }
    }
}
.menu-toggle {
    display: none;
}