#topnav {
    background-color: var(--clr-n-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 0px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8pt;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    font-size: 1.5em;
}
.nav-item a {
    text-decoration: none;
    color: var(--clr-grn-dark);
    padding: 8pt;
    transition: color 0.3s ease;
}
.nav-item a:hover {
    color: var(--clr-hover);
}
.menu-toggle {
    display: none;
}