.contacto-container {
    @include flex-align-justify-center;
    flex-direction: row;
    background-color: $green-neutral;
    padding: 5.3em 2.6em;
    height: 100%;
    img {
        width: 70%;
        height: auto;
    }
}
.contacto-img-container{
    @include flex-align-justify-center;
}
.contacto-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contacto-heading {
    font-family: $title-font;
    color: $green-dark;
}
.contacto-form {
    font-size: 1.5em;
    color: $green-dark;
    padding: 0.6em 0;
}
.input-transparent {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    height: 3em;
    &:focus {
        border-color: transparent;
        box-shadow: 0 0 16px $green-dark;
    }
}
.textarea {
    height: 10em;
}
.contacto-btn-container {
    display: flex;
    justify-content: flex-end;
}