#testimonios-section {
    display: grid;
    background-color: $brown;
    margin-top: 4em;
    height: 100vh;
}
.testimonios {
    background-color: $brown;
    @include flex-align-justify-center;
    flex-direction: column;
    img {
        margin-top: 32px;
        width: 5%;
        justify-content: center;
    }
}
.testimonios-heading {
    font-size: 2em;
    color: $olive-neutral;
    margin-top: 5.3em;
}
.testimonios-paragraph {
    font-family: $title-font;
    font-size: 3em;
    text-align: center;
    color: $olive;
    max-width: 70%;
    margin: 0 auto;
}
.testimonios-nombre {
    font-family: $text-font;
    color: $olive-neutral;
    font-size: 2em;
    text-align: center;
}
.btn-testimonios img {
    @include sizes (2em, 2em)
}
.separator {
    height: 4.6em;
    width: 100%;
    background-image: url(../assets/natura3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}